{{- if ne .chezmoi.os "windows" -}}
#!/bin/sh
mv -v {{ joinPath (dir .chezmoi.sourceDir) "chezmoi" | quote }} {{ joinPath (dir .chezmoi.sourceDir) "chezmoi_src" | quote }}
mkdir -v {{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi_cnfg" | quote }}
mv -v {{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi" "chezmoistate.boltdb" | quote }} {{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }}
#rm -v $0

{{- else -}}
#! /usr/bin/env pwsh
Write-Output "Running 'run_after_init.ps1.tmpl' as a powershell script."

{{- end -}}
