{{- if ne .chezmoi.os "windows" -}}
#!/bin/sh

#mv -v {{ .chezmoi.sourceDir }} {{ joinPath (dir .chezmoi.sourceDir) "chezmoi_src" | quote }}
mkdir -pv {{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi_cnfg" | quote }}
#mv -v {{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi" "chezmoistate.boltdb" | quote }} {{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }}

cd "$(dir "$0")"
pwd

printf "Main dotfiles github PAT (leave blank to fall back to Bitwarden): " >&2
stty -echo
trap 'stty echo' EXIT INT TERM
read -r password
stty echo
if [ -z "$password" ]; then
    password="$(./oneoff_bitwarden.sh get password 'dotfiles PAT')"
fi

$HOME/bin/chezmoi \
    --config={{ joinPath (dir .chezmoi.configFile) "chezmoi.toml" | quote }} \
    --source={{ joinPath (dir .chezmoi.sourceDir) "chezmoi_src" | quote }} \
    --persistent-state={{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }} \
    init \
    --config-path={{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }} \
    --depth={{ if .ephem }}1{{ else }}0{{ end }} \
    DrUbermann/dotfiles-test

$HOME/bin/chezmoi purge -P

mkdir -p {{ dir .chezmoi.configFile | quote }}
ln -s {{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }} {{ .chezmoi.configFile }}

exec rm -vi "$(dir "$0")"/*

{{- else -}}
#!/usr/bin/env pwsh
Write-Output "Running 'executable_init.ps1.tmpl' as a powershell script."

{{- end }}
