{{- if ne .chezmoi.os "windows" -}}
#!/bin/sh
echo "Running 'init.ps1.tmpl' as a posix shell script."

{{- else -}}
#! /usr/bin/env pwsh
Write-Output "Running 'init.ps1.tmpl' as a powershell script."

{{- end -}}
