{{- if ne .chezmoi.os "windows" -}}
#!/bin/sh

if [ ! -f {{ joinPath (osDir .chezmoi.configFile) "key.txt" | quote }} ]; then
    mkdir -p "{{ osDir .chezmoi.configFile }}"
    "${HOME}/bin/chezmoi" age decrypt --output {{ joinPath (osDir .chezmoi.configFile) "key.txt" | quote }} --passphrase {{ joinPath .chezmoi.sourceDir "chezmoi.tmp" "key.txt.age" | quote }}
    chmod 600 {{ joinPath (osDir .chezmoi.configFile) "key.txt" | quote }}
fi

{{- else -}}
#!/usr/bin/env pwsh

if (-not (Test-Path "{{ joinPath (osDir .chezmoi.configFile) "key.txt" }}" -PathType Leaf)) {
    New-Item -ItemType Directory -Force -Path "{{ osDir .chezmoi.configFile }}"
    & "$HOME\bin\chezmoi.exe" age decrypt --output {{ joinPath (osDir .chezmoi.configFile) "key.txt" | quote }} --passphrase "{{ joinPath .chezmoi.sourceDir "chezmoi.tmp" "key.txt.age" }}"
}

{{- end -}}

{{- "" }}
