
{{- /*
{{- writeToStdout ". = " (quote .) "\n" -}}
{{- abortEmpty -}}
*/ -}}

{{/* Declare prompt variables */}}
{{- $ephem := true -}}  {{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := true -}}  {{/* true if this machine does not have a screen and keyboard */}}

{{- if stdinIsATTY -}}
{{-   $ephem = promptBoolOnce . "ephem" "ephemeral" true -}}
{{-   $headless = promptBoolOnce . "headless" "headless" false -}}
{{- end -}}

{{- "" }}
#sourceDir = {{ joinPath (dir .chezmoi.sourceDir) "chezmoi_src" | quote }}
#persistentState = {{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }}

encryption = "age"
[age]
    identity = {{ joinPath (dir .chezmoi.configFile) "key.txt" | quote }}
    recipient = "age1u4xd4ykl9s3t3cel4rtjexj8a0aln38p0h7j3fua0r36jvt3hchsdrdw4f"

[data]
    ephem = {{ $ephem }}
    headless = {{ $headless }}
[data.cmn]
    ephem = {{ $ephem }}
    headless = {{ $headless }}

# [scriptEnv]
#     EPHEM = {{ $ephem | quote }}
#     HEADLESS = {{ $headless | quote }}

[hooks.apply.pre]
	script = {{ joinPath .chezmoi.workingTree ".init_script.sh" | quote }}

# [hooks.apply.post]
# 	script = {{ joinPath .chezmoi.workingTree ".init_script_post.sh" | quote }}
