
{{- /*
{{- writeToStdout ". = " (quote .) "\n" -}}
{{- abortEmpty -}}
*/ -}}

{{/* Declare prompt variables */}}
{{- $ephem := true -}}  {{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}

sourceDir = {{ joinPath (dir .chezmoi.sourceDir) "chezmoi_src" | quote }}
persistentState = {{ joinPath (dir (dir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }}

[hooks.apply.pre]
	script = {{ joinPath .chezmoi.workingTree ".init_script.sh" | quote }}

# [hooks.apply.post]
# 	script = {{ joinPath .chezmoi.workingTree ".init_script_post.sh" | quote }}
