
{{- /*
{{- writeToStdout ". = " (quote .) "\n" -}}
{{- abortEmpty -}}
*/ -}}

{{- writeToStdout ".chezmoi.sourceFile = " (quote .chezmoi.sourceFile) "\n" -}}
{{- writeToStdout ".chezmoi.targetFile = " (quote .chezmoi.targetFile) "\n" -}}

{{/* Declare prompt variables */}}
{{- $interactive := false -}}  {{/* true if this machine should accept user input during setup */}}
{{- $ephem := true -}}  {{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := true -}}  {{/* true if this machine does not have a screen and keyboard */}}

{{- if stdinIsATTY -}}
{{-   $interactive = promptBoolOnce . "interactive" "interactive" true -}}
{{-   $ephem = promptBoolOnce . "ephem" "ephemeral" true -}}
{{-   $headless = promptBoolOnce . "headless" "headless" false -}}
{{- end -}}

{{- "" }}
#sourceDir = {{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" | quote }}
#persistentState = {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }}
scriptTempDir = {{ joinPath .chezmoi.homeDir "chezmoi.tmp" | quote }}

encryption = "age"
[age]
    identity = {{ joinPath (osDir .chezmoi.configFile) "key.txt" | quote }}
    recipient = "age1u4xd4ykl9s3t3cel4rtjexj8a0aln38p0h7j3fua0r36jvt3hchsdrdw4f"

[data]
    interactive = {{ $interactive }}
    ephem = {{ $ephem }}
    headless = {{ $headless }}
[data.cmn]
    interactive = {{ $interactive }}
    ephem = {{ $ephem }}
    headless = {{ $headless }}

# [scriptEnv]
#     CZ_INTERACTIVE = {{ $interactive | quote }}
#     CZ_EPHEM = {{ $ephem | quote }}
#     CZ_HEADLESS = {{ $headless | quote }}

[hooks.apply.pre]
{{ if ne .chezmoi.os "windows" -}}
	script = {{ joinPath .chezmoi.workingTree ".init_script.sh" | quote }}
{{- else -}}
    script = {{ joinPath .chezmoi.workingTree ".init_script.ps1" | quote }}
{{- end }}

# [hooks.apply.post]
# 	script = {{ joinPath .chezmoi.workingTree ".init_script_post.ps1" | quote }}
