{{- if ne .chezmoi.os "windows" -}}
#!/bin/sh

set -eu

FPATH_SCRIPT="$(cd "$(dirname "$0")" && pwd -P)/$(basename "$0")"
#cd "$(dirname "$0")"
cd "$(cd "$(dirname "$0")" && pwd)"

. ./.env

LGR_LVL_CNSL=${LGR_LVL_CNSL:-}
LGR_LVL_FILE=${LGR_LVL_FILE:-}
#export LGR_FDIR_FILE="$(pwd)"
export LGR_FPATH_FILE="$(pwd)/chezmoi_main.log"
export LGR_LVL_CHEZMOI=''
while [ "$#" -gt 0 ]; do
    case "$1" in
        --verbose)
            LGR_LVL_CHEZMOI=$1
            LGR_LVL_CNSL=INFO
            LGR_LVL_FILE=INFO
            shift ;;
        --debug)
            LGR_LVL_CHEZMOI=$1
            LGR_LVL_CNSL=DEBUG
            LGR_LVL_FILE=DEBUG
            shift ;;
        *)
            printf '%s\n' "Unknown parameter: $1" >&2
            exit 1 ;;
    esac
done
[ -n $LGR_LVL_CNSL ] && export LGR_LVL_CNSL
[ -n $LGR_LVL_FILE ] && export LGR_LVL_FILE

#mv -v {{ .chezmoi.workingTree }} {{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" | quote }}
#mkdir -p {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" | quote }}
#mv -v {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi" "chezmoistate.boltdb" | quote }} {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }}

if [ -z "${GITHUB_PAT:-}" ]; then
    if ! tty > /dev/null 2>&1; then
        printf '%s\n' "Error: No controlling terminal for user inputs." >&2
        exit 1
    fi
    printf '%s\n' "Enter login details for GitHub main dotfiles repo:" > /dev/tty
    printf "Main dotfiles GitHub login Personal Access Token (PAT) (leave blank to fall back to GitHub credentials manager): " > /dev/tty
    stty -echo < /dev/tty
    trap 'stty echo < /dev/tty' EXIT INT TERM
    read -r GITHUB_PAT < /dev/tty
    stty echo < /dev/tty
    printf '\n' > /dev/tty
fi

export GIT_ASKPASS="$(pwd)"/git_askpass.sh
export GITHUB_PAT
{{ .chezmoi.executable | quote }} \
    $LGR_LVL_CHEZMOI \
    --config={{ joinPath (osDir .chezmoi.configFile) "chezmoi.toml" | quote }} \
    --source={{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" | quote }} \
    --persistent-state={{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }} \
    init \
    --config-path={{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }} \
    --depth={{ if .ephem }}1{{ else }}0{{ end }} \
    https://{{ if not (lookPath "git") }}"$GITHUB_PAT@"{{ end }}github.com/DrUbermann/dotfiles-test-v01.git
    ## Note that $GITHUB_PAT will be stored in plain text in {.chezmoi.workingTree}/.git/config
    ##   if GITHUB_PAT is defined and git is not installed

{{ .chezmoi.executable | quote }} $LGR_LVL_CHEZMOI purge --binary --force

## Remove token from url in config file
## This will require repo to get $GITHUB_PAT from secure source rather than plain text in the url
mv {{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" ".git" "config" | quote }} "./gitconfig"
sed 's|^\([[:space:]]*url[[:space:]]*=[[:space:]]*https://\)[A-Za-z0-9_-]*@|\1|' "./gitconfig" > {{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" ".git" "config" | quote }}

{{ if lookPath "git" }}
git clone --depth 1 https://github.com/DrUbermann/shell-common-test cmn
rm -rf cmn/.git
tar -czf repo.tar.gz -C cmn/ .
{{ else }}
{{ if (lookPath "curl") }}curl -fsLS -o{{ else if (lookPath "wget") }}wget -q -O{{ else if (and (lookPath "openssl") (exec "openssl" "s_client" "-connect" "example.com:443" "-servername" "example.com")) }}./ssl_get -o{{ else }}echo curl and wget and ssl not available, exiting; exit 127 #{{ end }} repo.tar.gz \
    --header "Authorization: Bearer $GITHUB_PAT" --header "Accept: application/vnd.github+json" https://api.github.com/repos/DrUbermann/shell-common-test/tarball/master
tar -xzf repo.tar.gz && mv $(tar -tzf repo.tar.gz | head -1 | cut -f1 -d'/') cmn
{{ end }}

sh -c "$({{ if (lookPath "curl") }}curl -fsLS{{ else if (lookPath "wget") }}wget -qO-{{ else if (and (lookPath "ftp") (exec "ftp" "-o" "-" "https://example.com")) }}ftp -Vo -{{ else }}echo 'echo curl and wget and ftp not available, exiting; exit 127')" #{{ end }} https://get.chezmoi.io)" sh -b $HOME/.local/bin

mkdir -p {{ osDir .chezmoi.configFile | quote }}
ln -s {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }} {{ .chezmoi.configFile }}
chmod -w {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi" | quote }}

export PATH=$HOME/.local/bin:$PATH

chezmoi $LGR_LVL_CHEZMOI apply --exclude scripts,encrypted

## Install sudo or doas if not running as root
if [ "$(id -u)" -ne 0 ] && ! command -v sudo >/dev/null 2>&1 && ! command -v doas >/dev/null 2>&1; then
    if [ $(uname -s) = OpenBSD ] || [ -f /etc/alpine-release ]; then
        {{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" ".excu" | quote }}/install_packages.sh doas
    else
        {{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" ".excu" | quote }}/install_packages.sh sudo       
    fi
fi

x=0 && {{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" ".excu" | quote }}/grant_privileged_access.sh || x=$?

## Variables used in next part of script
printf '%s="%s"\n' "export PATH" "$PATH" >> ./.env
printf '%s="%s"\n' "export GIT_ASKPASS" "$GIT_ASKPASS" >> ./.env
printf '%s="%s"\n' "export GITHUB_PAT" "$GITHUB_PAT" >> ./.env
#printf '%s="%s"\n' "LGR_LVL_CHEZMOI" "$LGR_LVL_CHEZMOI" >> ./.env
env | grep '^LGR_' | sed 's/'"'"'/'"'"'\\'"'"''"'"'/g; s/^\([^=]*\)=\(.*\)$/\1='"'"'\2'"'"'/' >> ./.env  ## s/'/'\\''/g; s/^\([^=]*\)=\(.*\)$/\1='\2'/

_fpath_script_1="$(cd "$(dirname "$FPATH_SCRIPT")" && pwd -P)/$(basename "${FPATH_SCRIPT%.*}-1.${FPATH_SCRIPT##*.}")"
if [ "$x" -eq 3 ]; then
    printf '%s\n%s\n%s\n' "User added to sudo/doas group; must create new shell to continue:" "su - $(id -un)" "sh $_fpath_script_1"
    exit 0
elif [ "$x" -ne 0 ]; then
    exit $x
fi

## Run next part of init script
sh "$_fpath_script_1"

exit 0


{{- else -}}
#!/usr/bin/env pwsh

Write-Output "Running 'executable_init.ps1.tmpl' as a powershell script."

try {
    Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser -Force
} catch [System.Security.SecurityException] {
    ## suppress only the ExecutionPolicyOverride warning
}

## Equivalent of set -eu
$ErrorActionPreference = 'Stop'
Set-StrictMode -Version Latest

$FPATH_SCRIPT = $PSCommandPath
Set-Location $PSScriptRoot

## Equivalent of . ./.env
$EnvFile = ".env"
if (Test-Path $EnvFile) {
    Get-Content $EnvFile | ForEach-Object {
        ## Clean up whitespace and skip empty lines or comments
        $line = $_.Trim()
        if ([string]::IsNullOrEmpty($line) -or $line.StartsWith("#")) { return }
        ## Case 1: Exported variables (e.g., export BAR=bar)
        if ($line -match '^export\s+(?<key>[^=]+)=(?<value>.*)$') {
            $key = $Matches['key'].Trim()
            $value = $Matches['value'].Trim("'`"" )  ## Strips outer quotes if present
            ## Create BOTH local variable and environment variable
            Set-Item "Env:$key" $value
            Set-Variable -Name $key -Value $value -Force
        }
        ## Case 2: Regular variables (e.g., FOO=foo)
        elseif ($line -match '^(?<key>[^=]+)=(?<value>.*)$') {
            $key = $Matches['key'].Trim()
            $value = $Matches['value'].Trim("'`"" )  ## Strips outer quotes if present
            ## Create local variable ONLY
            Set-Variable -Name $key -Value $value -Force
        }
    }
} else {
    Write-Warning "Could not find '${EnvFile}'."
}

$LGR_LVL_CHEZMOI = ''
if ([string]::IsNullOrEmpty($Env:LGR_FPATH_FILE)) { $Env:LGR_FPATH_FILE = if ((Test-Path variable:LGR_FPATH_FILE) -and ![string]::IsNullOrEmpty($LGR_FPATH_FILE)) { $LGR_FPATH_FILE } else { Join-Path $PWD "chezmoi_main.log" } }
foreach ($arg in $args) {
    switch ($arg) {
        '--verbose' { $LGR_LVL_CHEZMOI = $arg; $LGR_LVL_CNSL = 'INFO'; $LGR_LVL_FILE = 'INFO' }
        '--debug'   { $LGR_LVL_CHEZMOI = $arg; $LGR_LVL_CNSL = 'DEBUG'; $LGR_LVL_FILE = 'DEBUG' }
        default     { Write-Error "Unknown parameter: ${arg}"; exit 1 }
    }
}
if ((Test-Path variable:LGR_LVL_CNSL) -and ![string]::IsNullOrEmpty($LGR_LVL_CNSL)) { $Env:LGR_LVL_CNSL = $LGR_LVL_CNSL }
if ((Test-Path variable:LGR_LVL_FILE) -and ![string]::IsNullOrEmpty($LGR_LVL_FILE)) { $Env:LGR_LVL_FILE = $LGR_LVL_FILE }

if ([string]::IsNullOrEmpty($GITHUB_PAT)) {
    ## Check if input is possible
    if ([Console]::IsInputRedirected) {
        Write-Error "Error: no controlling terminal for user inputs."
        exit 1
    }
    Write-Host "Enter login details for GitHub main dotfiles repo:"
    $GITHUB_PAT = Read-Host -Prompt "Main dotfiles GitHub login Personal Access Token (PAT) (leave blank to fall back to GitHub credentials manager)" -AsSecureString
    ## Convert SecureString to plain text
    $GITHUB_PAT = [Runtime.InteropServices.Marshal]::PtrToStringAuto([Runtime.InteropServices.Marshal]::SecureStringToBSTR($GITHUB_PAT))
}

$Env:GIT_ASKPASS = Join-Path -Path $PWD -ChildPath "git_askpass.cmd"
$Env:GITHUB_PAT = $GITHUB_PAT
$a = @(
    $LGR_LVL_CHEZMOI,
    '--config={{ joinPath (osDir .chezmoi.configFile) "chezmoi.toml" | quote }}',
    '--source={{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" | quote }}',
    '--persistent-state={{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }}',
    'init',
    '--config-path={{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }}',
    '--depth={{ if .ephem }}1{{ else }}0{{ end }}',
    "https://{{ if not (lookPath "git") }}`"$GITHUB_PAT@`"{{ end }}github.com/DrUbermann/dotfiles-test-v01.git"
    ## Note that $GITHUB_PAT will be stored in plain text in {.chezmoi.workingTree}/.git/config
    ##   if GITHUB_PAT is defined and git is not installed
)
& {{ .chezmoi.executable | quote }} @a

& {{ .chezmoi.executable | quote }} $LGR_LVL_CHEZMOI purge --force  ## --binary flag not available in winos version

## Remove token from url in config file
## This will require repo to get $GITHUB_PAT from secure source rather than plain text in the url
Move-Item {{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" ".git" "config" | quote }} "./gitconfig"
(Get-Content "./gitconfig") -replace '^(\s*url\s*=\s*https://)[A-Za-z0-9_-]*@', '$1' | Set-Content {{ joinPath (osDir .chezmoi.workingTree) "chezmoi_src" ".git" "config" | quote }}

## Use integer value for TLS 1.2 to support .NET 4.0
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]3072

$ownername = 'DrUbermann'
$reponame = 'shell-common-test'
{{ if lookPath "git" }}
git clone --depth 1 https://github.com/$ownername/$reponame cmn
Get-ChildItem -Recurse -Force cmn/.git | Remove-Item -Recurse -Force ; Remove-Item -Force cmn/.git
Compress-Archive -Path cmn/* -DestinationPath repo.zip
{{ else }}
#### Simpler version for PowerShell 5+
# Invoke-WebRequest -Uri "https://api.github.com/repos/$ownername/$reponame/zipball/master" -Headers @{ Authorization = "Bearer $GITHUB_PAT" } -OutFile (Join-Path $PWD "repo.zip")

$request = [System.Net.HttpWebRequest]::Create("https://api.github.com/repos/$ownername/$reponame/zipball/master")
$request.Method = "GET"
$request.Headers.Add("Authorization", "Bearer $GITHUB_PAT")
$request.UserAgent = "PowerShell"
$request.AllowAutoRedirect = $false
$response = $request.GetResponse()
$redirectUrl = $response.Headers["Location"]
$response.Close()
$client = New-Object System.Net.WebClient
$client.Headers.Add("User-Agent", "PowerShell")
$client.DownloadFile($redirectUrl, (Join-Path $PWD "repo.zip"))

Expand-Archive -Path "repo.zip" -DestinationPath "."
#$inner = Get-ChildItem -Directory | Select-Object -First 1
$inner = Get-ChildItem -Directory | Where-Object { $_.Name -like "*$reponame-*" } | Select-Object -First 1
Rename-Item $inner.FullName "cmn"
{{ end }}

& ([scriptblock]::Create((New-Object System.Net.WebClient).DownloadString("https://get.chezmoi.io/ps1"))) -b "$HOME\.local\bin"

New-Item -Path {{ osDir .chezmoi.configFile | quote }} -ItemType Directory -Force | Out-Null
if ($PSVersionTable.PSVersion.Major -ge 5) {
    ## Use native PowerShell 5+ symbolic link
    try {
        New-Item -Path {{ .chezmoi.configFile | quote }} -ItemType SymbolicLink -Value {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }} -Force | Out-Null
    } catch [System.UnauthorizedAccessException] {
        (New-Object -ComObject Wscript.Shell).Popup("This script needs to create a symbolic link.`n`nPlease click OK on the administrator prompt that is about to appear.", 0x00, "Privilege Escalation Required", 0x40)
        Start-Process powershell.exe -Verb RunAs -ArgumentList "-Command New-Item -Path '{{ .chezmoi.configFile }}' -ItemType SymbolicLink -Value '{{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" }}' -Force" -Wait -WindowStyle Hidden
    }
} else {
    ## Create symbolic link as Administrator (works without Developer Mode)
    (New-Object -ComObject Wscript.Shell).Popup("This script needs to create a symbolic link.`n`nPlease click OK on the administrator prompt that is about to appear.", 0x00, "Privilege Escalation Required", 0x40)
    $proc = Start-Process powershell.exe -Verb RunAs -ArgumentList "-Command `"cmd /c mklink '{{ .chezmoi.configFile }}' '{{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" }}'`"" -Wait -PassThru
    if ($proc.ExitCode -ne 0) {
        ## Fall back to a standard cmd hard link (works without Administrator Access & Developer Mode)
        Write-Host "Symbolic Link creation failed; falling back to Hard Link."
        cmd /c mklink /H {{ .chezmoi.configFile | quote }} {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }}
    }
}

if (($Env:Path -split ';') -notcontains "$HOME/.local/bin") {
    $Env:Path = "$HOME/.local/bin;$Env:Path"
}

chezmoi $LGR_LVL_CHEZMOI apply --exclude scripts,encrypted

(New-Object -ComObject Wscript.Shell).Popup("This script needs to enable several settings that require elevated privileges.`n`nPlease click 'Yes' on the administrator prompt that is about to appear.", 0x00, "Privilege Escalation Required", 0x40)  ## 0x40 = Information icon
$proc = Start-Process powershell.exe -Verb RunAs -ArgumentList "-File "$HOME/chezmoi.tmp/init-0.ps1" -Wait -PassThru

## Variables used in next part of script
[System.IO.File]::AppendAllLines(".\.env", [string[]]@("export Path=`"$env:Path`""))
[System.IO.File]::AppendAllLines(".\.env", [string[]]@("export GIT_ASKPASS=`"$env:GIT_ASKPASS`""))
[System.IO.File]::AppendAllLines(".\.env", [string[]]@("export GITHUB_PAT=`"$env:GITHUB_PAT`""))
[System.IO.File]::AppendAllLines(".\.env", [string[]]@("LGR_LVL_CHEZMOI=`"$LGR_LVL_CHEZMOI`""))
Get-ChildItem Env: | Where-Object { $_.Name -match '^LGR_' } | ForEach-Object {
    $escaped = $_.Value -replace "'", "'\''"
    [System.IO.File]::AppendAllLines(".\.env", [string[]]"$($_.Name)='$escaped'")
}

if ($proc.ExitCode -eq 3) {
    Write-Output "Must reboot after administrative settings set.  Continue this script with:", 'powershell.exe -Verb RunAs -File "$HOME/chezmoi.tmp/init-0.ps1"'
} elseif ($proc.ExitCode -ne 0) {
    exit $proc.ExitCode
}

## Run next part of init script
powershell.exe -Verb RunAs -File "$HOME/chezmoi.tmp/init-0.ps1"

exit 0


{{- end -}}

{{- "" }}
