{{- if ne .chezmoi.os "windows" -}}
#!/bin/sh

set -eu

FPATH_SCRIPT="$(cd "$(dirname "$0")" && pwd -P)/$(basename "$0")"
#cd "$(dirname "$0")"
cd "$(cd "$(dirname "$0")" && pwd)"

. ./.env

LGR_LVL_CNSL=${LGR_LVL_CNSL:-}
LGR_LVL_FILE=${LGR_LVL_FILE:-}
#export LGR_FDIR_FILE="$(pwd)"
export LGR_FPATH_FILE="$(pwd)/chezmoi_main.log"
export LGR_LVL_CHEZMOI=''
while [ "$#" -gt 0 ]; do
    case "$1" in
        --verbose)
            LGR_LVL_CHEZMOI=$1
            LGR_LVL_CNSL=INFO
            LGR_LVL_FILE=INFO
            shift ;;
        --debug)
            LGR_LVL_CHEZMOI=$1
            LGR_LVL_CNSL=DEBUG
            LGR_LVL_FILE=DEBUG
            shift ;;
        *)
            printf '%s\n' "Unknown parameter: $1" >&2
            exit 1 ;;
    esac
done
[ -n $LGR_LVL_CNSL ] && export LGR_LVL_CNSL
[ -n $LGR_LVL_FILE ] && export LGR_LVL_FILE

#mv -v {{ .chezmoi.sourceDir }} {{ joinPath (osDir .chezmoi.sourceDir) "chezmoi_src" | quote }}
mkdir -p {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" | quote }}
#mv -v {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi" "chezmoistate.boltdb" | quote }} {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }}

if [ -z "${GITHUB_PAT:-}" ]; then
    printf '%s\n' "Enter login details for GitHub main dotfiles repo:"
    printf "Main dotfiles GitHub login Personal Access Token (PAT) (leave blank to fall back to GitHub credentials manager): " >&2
    stty -echo
    trap 'stty echo' EXIT INT TERM
    read -r GITHUB_PAT
    stty echo
    printf '\n' >&2
fi

export GIT_ASKPASS="$(pwd)"/git_askpass.sh
export GITHUB_PAT
{{ .chezmoi.executable | quote }} \
    $LGR_LVL_CHEZMOI \
    --config={{ joinPath (osDir .chezmoi.configFile) "chezmoi.toml" | quote }} \
    --source={{ joinPath (osDir .chezmoi.sourceDir) "chezmoi_src" | quote }} \
    --persistent-state={{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoistate.boltdb" | quote }} \
    init \
    --config-path={{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }} \
    --depth={{ if .ephem }}1{{ else }}0{{ end }} \
    https://{{ if not (lookPath "git") }}"$GITHUB_PAT@"{{ end }}github.com/DrUbermann/dotfiles-test-v01.git
    ## Note that $GITHUB_PAT will be stored in plain text in {.chezmoi.sourceDir}/.git/config
    ##   if GITHUB_PAT is defined and git is not installed

{{ .chezmoi.executable | quote }} $LGR_LVL_CHEZMOI purge --binary --force

## Remove token from url in config file
## This will require repo to get $GITHUB_PAT from secure source rather than plain text in the url
mv {{ joinPath (osDir .chezmoi.sourceDir) "chezmoi_src" ".git" "config" | quote }} ./gitconfig
sed 's|^\([[:space:]]*url[[:space:]]*=[[:space:]]*https://\)[A-Za-z0-9_-]*@|\1|' "./gitconfig" > {{ joinPath (osDir .chezmoi.sourceDir) "chezmoi_src" ".git" "config" | quote }}

{{ if lookPath "git" }}
git clone --depth 1 https://github.com/DrUbermann/shell-common-test cmn
rm -rf cmn/.git
tar -czf repo.tar.gz -C cmn/ .
{{ else }}
{{ if not (or (lookPath "curl") (lookPath "wget")) }}. ./ssl_get.sh{{ end }}
{{ if (lookPath "curl") }}curl -fsLS -o{{ else if (lookPath "wget") }}wget -q -O{{ else if (and (lookPath "openssl") (exec "openssl" "s_client" "-connect" "example.com:443" "-servername" "example.com")) }}ssl_get -o{{ else }}echo curl and wget and ssl not available, exiting; exit 127 #{{ end }} repo.tar.gz \
    --header "Authorization: Bearer $GITHUB_PAT" --header "Accept: application/vnd.github+json" https://api.github.com/repos/drubermann/shell-common-test/tarball/master
tar -xzf repo.tar.gz && mv $(tar -tzf repo.tar.gz | head -1 | cut -f1 -d'/') cmn
{{ end }}

sh -c "$({{ if (lookPath "curl") }}curl -fsLS{{ else if (lookPath "wget") }}wget -qO-{{ else if (and (lookPath "ftp") (exec "ftp" "-o" "-" "https://example.com")) }}ftp -Vo -{{ else }}echo 'echo curl and wget and ftp not available, exiting; exit 127')" #{{ end }} https://get.chezmoi.io)" sh -b $HOME/.local/bin

mkdir -p {{ osDir .chezmoi.configFile | quote }}
ln -s {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }} {{ .chezmoi.configFile }}
chmod -w {{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi" | quote }}

export PATH=$HOME/.local/bin:$PATH

chezmoi $LGR_LVL_CHEZMOI apply --exclude scripts,encrypted

## Install sudo or doas if not running as root
if [ "$(id -u)" -ne 0 ] && ! command -v sudo >/dev/null 2>&1 && ! command -v doas >/dev/null 2>&1; then
    if [ $(uname -s) = OpenBSD ] || [ -f /etc/alpine-release ]; then
        {{ joinPath (osDir .chezmoi.sourceDir) "chezmoi_src" ".excu" | quote }}/install_packages.sh doas
    else
        {{ joinPath (osDir .chezmoi.sourceDir) "chezmoi_src" ".excu" | quote }}/install_packages.sh sudo       
    fi
fi

x=0 && {{ joinPath (osDir .chezmoi.sourceDir) "chezmoi_src" ".excu" | quote }}/grant_privileged_access.sh || x=$?

## Variables used in next part of script
printf '%s="%s"\n' "export PATH" "$PATH" >> ./.env
printf '%s="%s"\n' "export GIT_ASKPASS" "$GIT_ASKPASS" >> ./.env
printf '%s="%s"\n' "export GITHUB_PAT" "$GITHUB_PAT" >> ./.env
#printf '%s="%s"\n' "LGR_LVL_CHEZMOI" "$LGR_LVL_CHEZMOI" >> ./.env
env | grep '^LGR_' | sed 's/'"'"'/'"'"'\\'"'"''"'"'/g; s/^\([^=]*\)=\(.*\)$/\1='"'"'\2'"'"'/' >> ./.env  ## s/'/'\\''/g; s/^\([^=]*\)=\(.*\)$/\1='\2'/

_fpath_script_1="$(cd "$(dirname "$FPATH_SCRIPT")" && pwd -P)/$(basename "${FPATH_SCRIPT%.*}-1.${FPATH_SCRIPT##*.}")"
if [ "$x" -eq 3 ]; then
    printf '%s\n%s\n%s\n' "User added to sudo/doas group; must create new shell to continue:" "su - $(id -un)" "sh $_fpath_script_1"
    exit 0
elif [ "$x" -ne 0 ]; then
    exit $x
fi

## Run next part of init script
sh "$_fpath_script_1"

exit 0


## Run add to sudoers script here

## Start a new login shell so user will have new elevated privileges reflected for sudo/doas in chezmoi scripts
#su - $(id -un) -c "PATH='$PATH' chezmoi $LGR_LVL_CHEZMOI apply --include scripts"

chezmoi $LGR_LVL_CHEZMOI --config={{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }} init

#sudo apt -y install git

## Set git repo url to get $GITHUB_PAT from secure source rather than plain text in the url
#chezmoi $LGR_LVL_CHEZMOI git remote set-url origin https://github.com/DrUbermann/dotfiles-test-v01.git

#chezmoi $LGR_LVL_CHEZMOI update

#exec rm -vi ./* ./.env
#exec rm -rf ./* ./.env
#find . -mindepth 1 -print -delete

{{- else -}}
#!/usr/bin/env pwsh




Write-Output "Running 'executable_init.ps1.tmpl' as a powershell script."





{{- end -}}

{{- "" }}
