{{- if ne .chezmoi.os "windows" -}}
#!/bin/sh

set -eu

cd "$(cd "$(dirname "$0")" && pwd)"

. ./.env

[ -n $LGR_LVL_CNSL ] && export LGR_LVL_CNSL
[ -n $LGR_LVL_FILE ] && export LGR_LVL_FILE


chezmoi $LGR_LVL_CHEZMOI apply --include scripts

chezmoi $LGR_LVL_CHEZMOI --config={{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }} init

#sudo apt -y install git

## Set git repo url to get $GITHUB_PAT from secure source rather than plain text in the url
#chezmoi $LGR_LVL_CHEZMOI git remote set-url origin https://github.com/DrUbermann/dotfiles-test-v01.git

#chezmoi $LGR_LVL_CHEZMOI update


#exec rm -vi ./* ./.env
#exec rm -rf ./* ./.env
#find . -mindepth 1 -print -delete
for _f in ./*; do
    printf "Delete '%s'? [y/N]: " "$_f" > /dev/tty
    read -r response < /dev/tty
    if [ "$response" = "y" ]; then
        rm -rf "$_f"
        printf "Deleted '%s'\n" "$_f"
    else
        printf "Skipped '%s'\n" "$_f"
    fi
done


{{- else -}}
#!/usr/bin/env pwsh

Write-Output "Running 'executable_init-1.ps1.tmpl' as a powershell script." ############################################

## Equivalent of set -eu
$ErrorActionPreference = 'Stop'
Set-StrictMode -Version Latest



## Enable Developer Mode
$regPath = "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"
if (!(Test-Path $regPath)) {
    New-Item -Path $regPath -Force
}
Set-ItemProperty -Path $regPath -Name "AllowDevelopmentWithoutDevLicense" -Value 1 -Type DWord
Set-ItemProperty -Path $regPath -Name "AllowAllTrustedApps" -Value 1 -Type DWord

## Enable Symbolic Link Creation
# Get the SID for the current user
$sid = (New-Object System.Security.Principal.NTAccount($env:USERNAME)).Translate([System.Security.Principal.SecurityIdentifier]).Value

$tmpCfg = "$env:TEMP\secpol.cfg"
$tmpDb  = "$env:TEMP\secpol.db"

# Export current policy
secedit /export /cfg $tmpCfg /quiet

# Add the user to SeCreateSymbolicLinkPrivilege
$content = Get-Content $tmpCfg
if ($content -match "SeCreateSymbolicLinkPrivilege") {
    $content = $content -replace "(SeCreateSymbolicLinkPrivilege\s*=\s*.*)", "`$1,*$sid"
} else {
    $content += "`nSeCreateSymbolicLinkPrivilege = *$sid"
}
Set-Content $tmpCfg $content

# Import modified policy
secedit /configure /db $tmpDb /cfg $tmpCfg /quiet

# Cleanup
Remove-Item $tmpCfg, $tmpDb -Force -ErrorAction SilentlyContinue




{{- end -}}

{{- "" }}
