{{- if ne .chezmoi.os "windows" -}}
#!/bin/sh
echo "Running 'run_init.ps1.tmpl' as a posix shell script."

#{{ .chezmoi.executable | quote }} data | jq -r '.chezmoi | to_entries | sort_by(.key)[] | ".chezmoi.\(.key)=\(.value)"' && env | { grep '^CHEZMOI' || true; } | sort

{{- else -}}
#! /usr/bin/env pwsh
Write-Output "Running 'run_init.ps1.tmpl' as a powershell script."

{{- end -}}
