{{- if ne .chezmoi.os "windows" -}}
#!/bin/sh

set -eu

cd "$(cd "$(dirname "$0")" && pwd)"

. ./.env

[ -n $LGR_LVL_CNSL ] && export LGR_LVL_CNSL

chezmoi $LGR_LVL_CHEZMOI apply --include scripts

chezmoi $LGR_LVL_CHEZMOI --config={{ joinPath (osDir (osDir .chezmoi.configFile)) "chezmoi_cnfg" "chezmoi.toml" | quote }} init

#sudo apt -y install git

## Set git repo url to get $GITHUB_PAT from secure source rather than plain text in the url
#chezmoi $LGR_LVL_CHEZMOI git remote set-url origin https://github.com/DrUbermann/dotfiles-test-v01.git

#chezmoi $LGR_LVL_CHEZMOI update

#exec rm -vi ./* ./.env
#exec rm -rf ./* ./.env
find . -mindepth 1 -print -delete

{{- else -}}
#!/usr/bin/env pwsh




Write-Output "Running 'executable_init-1.ps1.tmpl' as a powershell script."





{{- end -}}

{{- "" }}
